extends layout

block vars
	- var actives = {};
	- actives.blog = 'active';

block content
	include author
	- var count=0;
	each article in articles
		article.article.intro
			header
				p.date
					span= moment.utc(article.date).format('DD. MMMM YYYY')
					| &nbsp; - &nbsp;
					+author(article.metadata.author)
				h2
					a(href=article.url)= article.title
			section.content
				| !{ typogr(article.intro).typogrify() }
				if article.hasMore
					p.more
						a(href=article.url) more
		if count < articles.length-1
			hr
		- count++;

block prepend footer
	div.nav
		if prevPage
			a(href=prevPage.url) « Newer
		else
			a(href='/archive.html') « Archives
		if nextPage
			a(href=nextPage.url) Next page »



