block vars
	- var actives = {};

doctype html
html(lang='en')
	head
		block head
			meta(charset='utf-8')
			meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
			meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
			title
				block title
					= locals.name
			link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
			link(rel='stylesheet', href='/style.min.css')
	- var bodyClass = '';
	- if (actives.me) {
	- 	bodyClass = 'me';
	- } else if (actives.blog) {
	- 	bodyClass = 'blog';
	- }
	body(class="#{bodyClass}")
		.container
			nav.navbar.navbar-inverse
				.container
					.navbar-header
						button(type="button", data-toggle="collapse", data-target="#navigation").navbar-toggle
							span.sr-only Toggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a(href="#{ locals.url }").navbar-brand= locals.name
						p.description= locals.description
					.collapse.navbar-collapse#navigation
						ul.nav.navbar-nav
							li(class="#{actives.me}")
								a(href="/") Me, myself and I
							li(class="#{actives.blog}")
								a(href="/blog/") Blog
			div#content
				block content
			div#side-nav
				block side
		footer
			block footer
				.container
					div.row
						section.about
							!=contents['about.md'].html
						section.copy
							p &copy; #{ new Date().getFullYear() } #{ locals.owner } &mdash; <i>gently</i> powered by&nbsp;
								a(href='https://github.com/jnordberg/wintersmith') Wintersmith
								//- please leave the "powered by" if you use the design
		script(src='/main.js')
		script(type="text/javascript").
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', '#{locals.analytics}', '#{locals.url}'.split('//')[1]);
			ga('send', 'pageview');
